.container {
  width: 100%;
  height: 100vh;
  background-image: url("https://img.freepik.com/premium-photo/market-chart-showing-business-growth-stock-graphs-investments_861171-1649.jpg?w=1380");
  background-size: cover;
  background-position: center;
}