.container {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: darkblue;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 10;

  &_list {
    width: 1200px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;

    &_item {

      &_link {
        text-decoration: none;
        color: white;
        font-size: 18px;
        font-weight: bold;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
